.toast-informative {
	opacity: 100;
	position: absolute;
	bottom: 3.5rem;
	right: 1rem;
	background-color: #2e2c2c !important;
}

.dark-background {
	background-color: #2e2c2c !important;
	border-bottom: 1px solid #2e2c2c !important;
}

.light-text {
	color: #b9b9b9;
}
